/* @font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
} */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}

canvas{
    font-family: 'Roboto';
    /* background-color: black; */
    background-image: url("../images/nebula-bg.jpg");
}

html {
    overflow: hidden;
}
